html {
    height: -webkit-fill-available;
    scroll-padding-top: 52px;
}

body {
    height: 100vh;
    height: -webkit-fill-available;
    min-width: 320px;
    background-color: #E0E0E0 !important;  /* important to override css baseline. */
}

#root {
    height: 100vh;
    height: -webkit-fill-available;
    position: relative;
    max-width: 600px;  /* theme.breakpoints.values.sm */
    margin: auto !important;  /* important to override css baseline. */
    background-color: #FFF;  /* move css baseline to #root from body. */
    overflow-y: auto;
    overflow-x: hidden;
}
