<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="theme-color" content="#FFFFFF" />

        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body id="body">
        <div id="root"></div>
    </body>
</html>
